[11.12-cloud-release]
name=11.12-cloud-release
baseurl=https://repo.cloud.croc.ru/pub/repos/slices/11.12/el7/cloud/release/CROC1
gpgcheck=0

[11.12-addons-unstable]
name=11.12-addons-unstable
enabled=1
baseurl=https://repo.cloud.croc.ru/pub/repos/slices/11.12/el7/addons-unstable
priority=10
gpgcheck=0

[11.12-addons]
name=11.12-addons
baseurl=https://repo.cloud.croc.ru/pub/repos/slices/11.12/el7/addons
priority=11
gpgcheck=0

[11.12-addons-orig]
name=11.12-addons-orig
baseurl=https://repo.cloud.croc.ru/pub/repos/slices/11.12/el7/addons-orig
priority=12
gpgcheck=0

[11.12-updates]
name=11.12-updates
baseurl=https://repo.cloud.croc.ru/pub/repos/slices/11.12/el7/updates
priority=13
gpgcheck=0

[11.12-base]
name=11.12-base
baseurl=https://repo.cloud.croc.ru/pub/repos/slices/11.12/el7/base
priority=14
gpgcheck=0

